In [31]:
import pandas as pd

<h1>vg-stats</h1>

In [32]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<h2> 1- Which company is the most common video game publisher? </h2>

In [76]:
global_sales = df[['Publisher']].mode()
global_sales
# df.keys() // the feathers
# print(df.values) // the rows

         Publisher
0  Electronic Arts

<h2>2- Whatâ€™s the most common platform?</h2>

In [57]:
most_platfprm = df['Platform'].mode()
most_platfprm

0    DS
dtype: object

<h2>3- What about the most common genre?</h2>

In [58]:
most_genre = df['Genre'].mode()
most_genre

0    Action
dtype: object

<h2>4- What are the top 20 highest grossing games?</h2>

In [78]:
top_20_highest_grossing_games = df.sort_values('Global_Sales',ascending=False).head(20)[['Name']]
top_20_highest_grossing_games

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

<h2>5- median North American video game sales</h2>

In [146]:
# data = df['NA_Sales']
na_median = df['NA_Sales'].median()
na_median

0.08

In [107]:
data2 = df[df['NA_Sales'] == na_median ]
data2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3806,3808,F1 2009,PSP,2009.0,Racing,Codemasters,0.08,0.29,0.00,0.16,0.53
3921,3923,Test Drive Unlimited,PSP,2007.0,Racing,Atari,0.08,0.28,0.00,0.15,0.51
...,...,...,...,...,...,...,...,...,...,...,...
10070,10072,Batman: Dark Tomorrow,XB,2003.0,Action,Kemco,0.08,0.02,0.00,0.00,0.11
10069,10071,Stubbs the Zombie in Rebel Without a Pulse,XB,2005.0,Action,THQ,0.08,0.02,0.00,0.00,0.11
11455,11457,The Hidden,3DS,NaN,Adventure,Unknown,0.08,0.00,0.00,0.00,0.08
11492,11494,Ultimate Shooting Collection,Wii,2008.0,Shooter,Milestone,0.08,0.00,0.00,0.00,0.08
11376,11378,Face Racers: Photo Finish,3DS,NaN,Racing,Majesco Entertainment,0.08,0.00,0.00,0.00,0.08

In [169]:
cehck_numbers = len(data2)
med_of_na_sails = cehck_numbers // 2
ten_games = data2[med_of_na_sails-5 :med_of_na_sails+5]
ten_games.Name
# North_American_Median = na_median
# get_the_middle = df[df['NA_Sales'] == North_American_Median]

# mid_game = len(get_the_middle)//2
# star= mid_game-5
# arr_game=[]
# for i in range(10):
#     arr_game.append(get_the_middle.iloc[star]['Name'])
#     star+=1
# arr_game

11145               MLB 2K9 Fantasy All-Stars
11144                           The Ant Bully
11149             Shrek Smash n' Crash Racing
11231                               1 vs. 100
11233                Indianapolis 500 Legends
10587    Alvin and the Chipmunks: Chipwrecked
11243                           Build 'n Race
11225              Monster Jam: Urban Assault
11235                       Petz: Saddle Club
10567             KORG DS-10 Synthesizer Plus
Name: Name, dtype: object

<h1>6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?</h1>

In [147]:
## top game
## get mean
## get the std
## top_game - mean / std
na_std = df['NA_Sales'].std()
na_mean = df['NA_Sales'].mean()
data3 = df['NA_Sales'].iloc[1]
( data3 - na_mean ) / na_std

50.47898767479108

<h1>7- The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?</h1>

In [150]:
#50
wii_sales = df[df['Platform'] == 'Wii'].Global_Sales
print('wii Mean :', wii_sales.mean())

not_wii_sales = df[df['Platform'] != 'Wii'].Global_Sales
print('not wii Mean :', not_wii_sales.mean())

# print('Diff is :', wii_sales.mean() - not_wii_sales.mean())

wii Mean : 0.6994037735849057
not wii Mean : 0.5233896418516336

<h1>8- Come up with 3 more questions that can be answered with this data set.</h>

In [156]:
df.keys()
print(df.values)

[[18 'Grand Theft Auto: San Andreas' 'PS2' ... 0.41 10.57 20.81]
 [1 'Wii Sports' 'Wii' ... 3.77 8.46 82.74]
 [48 'Gran Turismo 4' 'PS2' ... 1.1 7.53 11.66]
 ...
 [12046 'Dream Dance & Cheer' 'Wii' ... 0.0 0.0 0.07]
 [12045 'Real Time Conflict: Shogun Empires' 'DS' ... 0.0 0.0 0.07]
 [16600 'Spirits & Spells' 'GBA' ... 0.0 0.0 0.01]]