In [174]:
import pandas as pd

<h1>vg-stats</h1>

In [175]:
df = pd.read_csv('vgsales-1.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

<h2> 1- Which company is the most common video game publisher? </h2>

In [176]:
global_sales = df[['Publisher']].mode()
global_sales
# df.keys() // the feathers
# print(df.values) // the rows

         Publisher
0  Electronic Arts

<h2>2- Whatâ€™s the most common platform?</h2>

In [177]:
most_platfprm = df['Platform'].mode()
most_platfprm

0    DS
dtype: object

<h2>3- What about the most common genre?</h2>

In [178]:
most_genre = df['Genre'].mode()
most_genre

0    Action
dtype: object

<h2>4- What are the top 20 highest grossing games?</h2>

In [179]:
top_20_highest_grossing_games = df.sort_values('Global_Sales',ascending=False).head(20)[['Name']]
top_20_highest_grossing_games

                                            Name
0                                     Wii Sports
1                              Super Mario Bros.
2                                 Mario Kart Wii
3                              Wii Sports Resort
4                       Pokemon Red/Pokemon Blue
5                                         Tetris
6                          New Super Mario Bros.
7                                       Wii Play
8                      New Super Mario Bros. Wii
9                                      Duck Hunt
10                                    Nintendogs
11                                 Mario Kart DS
12                   Pokemon Gold/Pokemon Silver
13                                       Wii Fit
14                                  Wii Fit Plus
15                            Kinect Adventures!
16                            Grand Theft Auto V
17                 Grand Theft Auto: San Andreas
18                             Super Mario World
19  Brain Age: Train Your Brain in Minutes a Day

<h2>5- median North American video game sales</h2>

In [180]:
# data = df['NA_Sales']
na_median = df['NA_Sales'].median()
na_median

0.08

In [181]:
data2 = df[df['NA_Sales'] == na_median ]
data2

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...
11403,11405,My English Coach: Para Hispanoparlantes,DS,2009.0,Misc,Ubisoft,0.08,0.00,0.00,0.01,0.08
11431,11433,Little League World Series Baseball: Double Play,DS,2010.0,Sports,Activision,0.08,0.00,0.00,0.01,0.08
11432,11434,DanceDanceRevolution,X360,2011.0,Simulation,Konami Digital Entertainment,0.08,0.00,0.00,0.01,0.08
11455,11457,The Hidden,3DS,NaN,Adventure,Unknown,0.08,0.00,0.00,0.00,0.08
11492,11494,Ultimate Shooting Collection,Wii,2008.0,Shooter,Milestone,0.08,0.00,0.00,0.00,0.08

In [182]:
cehck_numbers = len(data2)
med_of_na_sails = cehck_numbers // 2
ten_games = data2[med_of_na_sails-5 :med_of_na_sails+5]
ten_real_names = list(ten_games.Name)
ten_real_names
# North_American_Median = na_median
# get_the_middle = df[df['NA_Sales'] == North_American_Median]

# mid_game = len(get_the_middle)//2
# star= mid_game-5
# arr_game=[]
# for i in range(10):
#     arr_game.append(get_the_middle.iloc[star]['Name'])
#     star+=1
# arr_game

['Spider-Man: Edge of Time',
 'Turok: Evolution',
 'Deadpool',
 'GT Advance 2: Rally Racing',
 "A Witch's Tale",
 'Nickelodeon Dance',
 'Phantasy Star Collection',
 "LEGO Knights' Kingdom",
 'Family Game Night 4: The Game Show',
 'NBA Jam 2002']

<h1>6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?</h1>

In [186]:
## top game
## get mean
## get the std
## top_game - mean / std
na_std = df['NA_Sales'].std()
na_mean = df['NA_Sales'].mean()
data3 = df['NA_Sales'].iloc[0]
( data3 - na_mean ) / na_std

50.47898767479108

<h1>7- The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?</h1>

In [187]:
#50
wii_sales = df[df['Platform'] == 'Wii'].Global_Sales
print('wii Mean :', wii_sales.mean())

not_wii_sales = df[df['Platform'] != 'Wii'].Global_Sales
print('not wii Mean :', not_wii_sales.mean())

# print('Diff is :', wii_sales.mean() - not_wii_sales.mean())

wii Mean : 0.6994037735849057
not wii Mean : 0.5233896418516336

<h1>8- Come up with 3 more questions that can be answered with this data set.</h>

In [188]:
df.keys()
print(df.values)

[[1 'Wii Sports' 'Wii' ... 3.77 8.46 82.74]
 [2 'Super Mario Bros.' 'NES' ... 6.81 0.77 40.24]
 [3 'Mario Kart Wii' 'Wii' ... 3.79 3.31 35.82]
 ...
 [16598 'SCORE International Baja 1000: The Official Game' 'PS2' ... 0.0
  0.0 0.01]
 [16599 'Know How 2' 'DS' ... 0.0 0.0 0.01]
 [16600 'Spirits & Spells' 'GBA' ... 0.0 0.0 0.01]]